:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --navy-blue: #2e2f42;
    --navy-blue-rgb: 46 47 66;
    --white: #FFFFFF;
    --iris: #4d5ae5;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cloud: #F4F4FD;
    --ocean: #404bbf;
    --green: #31D0AA;
    --diary: 252 252 252;
    --cornflower: #e7e9fc;
    --grey: rgba(46, 47, 66, 0.7);
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --row-indent: 48px;
    --col-indent: 24px;
    --items: 4;
    --anim-fast: 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    --modal-z-pos: 10;
    --mobile-menu-z-pos: 100;
    --notify-z-pos: 999;
}

/* #region Base styles */
.hide {
    display: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
    font-family: var(--font-family);
    color: var(--slate);
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 400;
    background-color: var(--white);
}
ul,ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: currentColor;
    text-decoration: none;
}
address {
    color: 	var(--slate);
    font-style: normal;
}
button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #endregion */

/* #region Common */
.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
    /*
    outline: 2px solid red;
    outline-offset: -2px;
    */
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}


@media only screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
}
  

.hero,
footer {
    background-color: var(--navy-blue);
    color: var(--white);
}

.btn {
    background-color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    border: none; 
}


.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
}

.item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}


.item-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate); 
}

@media only screen and (min-width: 768px) {
    .item-subtitle  {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .item-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    
    .item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
}






.card-set {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.card-set-item {
    width: calc((100% - (var(--col-indent) * (var(--items) - 1))) / (var(--items)));
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);    
}
/* #endregion */
/* #region Social */
.social-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.social-item {
    width: 40px;
    height: 40px;
}

.social-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--anim-fast);
    transition-property: background-color;
}

.social-item-link-icon {
    fill: var(--cloud);  
}


.social-item-link:hover,
.social-item-link:focus {
    background-color: var(--ocean);
}
/* #endregion */


/* #region Mobile elemets */

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background-color: var(--white);
    z-index: var(--mobile-menu-z-pos);
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    visibility: hidden ;
    transition: var(--anim-fast);
    transition-property: transform,visibility;
}

.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.menu-link.active {
    color: var(--ocean);
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.mobile-menu-address-link.address-active {
    color: var(--iris);
}
.moblie-menu-socials {
    
    justify-content: left;
    gap: 40px;
}

/* #endregion */


/* #region Navigation */
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.header .logo {
    margin: 16px;
}
@media only screen and (min-width: 768px) {
    .header .logo {
        margin: 24px 76px 24px 0;
    }
}

.logo-accent {
    color: var(--navy-blue);
}
.header .container {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
  .nav-list  {
    display: none;
  }
}
.nav-item {
    font-weight: 500;
    line-height: 150%;
}

.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    line-height: 1.5;
    color: var(--navy-blue);
    transition: var(--anim-fast);
    transition-property: color;
}

@media only screen and (min-width: 768px) {
    .header-menu-btn   {
      display: none;
    }
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus  {
    color: var(--ocean);
}

.nav-link.active {
    color: var(--ocean);
}
.nav-link.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}
.address {
    color: 	var(--slate);
}


.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
  .address-list {
    display: none;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1156px) {
    .address-list {
      flex-direction: column;
      row-gap: 12px;
    }
  }

.address-link {
    line-height: 1.5;
    transition: var(--anim-fast);
    transition-property: color;
}
.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}
/* #endregion */




/* #region Hero */

.hero {
    margin: 0 auto;
}

.hero .container {
   padding: 0;
}

.hero-wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_mob@1x.jpg');
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_mob@2x.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero-wrapper {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_tab@1x.jpg');
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_tab@2x.jpg');
    }
}

@media only screen and (min-width: 1158px) {
    .hero-wrapper {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_desk@1x.jpg');
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-wrapper {
        background-image: linear-gradient(var(--grey), var(--grey)), url('../images/hero/hero_desk@2x.jpg');
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
}



@media only screen and (min-width: 1158px) {
    .hero-title {
      line-height: 107%;
      letter-spacing: 0.02em;
      margin-bottom: 48px;
    }
}


.btn-order {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    transition: var(--anim-fast);
    transition-property: background-color;
}
.btn-order:hover,
.btn-order:focus {
    background-color: var(--ocean);
}
/* #endregion */

/* #region Feature */
.features {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }
}

.features-list {
    --items: 1;
}

@media only screen and (min-width: 768px) {
    .features-list {
        --items: 2;
    }
    .card-set {
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    }    
}

@media only screen and (min-width: 1158px) {
    .features-list {
        --items: 4;
    }
    .card-set {
        row-gap: 48px;
    }
}


.feature-subtitle {
    margin-bottom: 8px;
   
}
.features-text {
    
}
.features-item {
}

.features-item-icon-wrapper {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .features-item-icon-wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        height: 112px;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: var(--cloud);
        margin-bottom: 8px;
        
    }
}


.feature-item-icon {
    fill: var(--navy-blue);
}
/* #endregion *

/* #region Team */

.team {
    /*
   
    */
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--cloud);
}

.team-title {
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    --items: 1;
    align-items: center;
    justify-content: center;
}

.team-member {
    background-color: var(--white);
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}



.team-member-title {
    padding: 32px 0;
}

.team-subtitle {
    margin: 0 auto;
    margin-bottom: 8px;
    
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
   
}
.team-text {
    margin: 0 auto;
    margin-bottom: 8px;
    
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.team-member-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .team-list {
        --items: 2;
        
    }
    .card-set {
        column-gap: 24px;
        row-gap: 64px;
    }

    
}

@media only screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list {
        --items: 4;
    }
    .card-set {
        column-gap: 24px;
        row-gap: 64px;
    }
   

}
/* #endregion *

/* #region Portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    /*
    padding-top: 120px;
    padding-bottom: 120px;

    */
}
.portfolio-title {
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-list {
    --items: 1;
    row-gap: 48px;
}

.portfolio-item-title {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.portfolio-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.portfolio-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    background-color: var(--iris);
    transform: translateY(100%);
    transition: var(--anim-fast);
    transition-property: transform;
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
}
.portfolio-item {
    transition: var(--anim-fast);
    transition-property: box-shadow;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
   
}


@media only screen and (min-width: 768px) {
    .portfolio-list  {
        --items: 2;
    }
    .card-set {
        column-gap: 24px;
        row-gap: 72px;
    } 
}

@media only screen and (min-width: 1158px) {
    .portfolio-list {
        --items: 3;
    }
    .card-set {
        column-gap: 24px;
        row-gap: 40px;
    }
}
/* #endregion */

/* #region Footer */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    /*
    padding-top: 100px;
    padding-bottom: 100px;
    */
}

.footer .container {

    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    text-align: center;
}

.footer-logo {
    color: var(--cloud);
}
.footer-text {
    margin-top: 16px;
    max-width: 288px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--white);
}

.footer-social .social-links-list {
    gap: 16px;
}

.footer-social .social-item-link:hover,
.footer-social .social-item-link:focus {
    background-color: var(--green);
}

.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}


.email-input {
    padding: 8px 16px;
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--white);
    outline: transparent;
    transition: var(--anim-fast);
    transition-property: border-color;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.email-input:focus {
    border-color: var(--iris);
}
.email-input::placeholder {
    color: var(--white);
}

.btn-subscribe {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    transition: var(--anim-fast);
    transition-property: background-color;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: var(--ocean);
}


.subscribe-link-icon {
    margin-left: 16px; 
    fill: var(--white)
}


@media only screen and (min-width: 768px) {   
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        text-align: left;
        justify-content: start;
    }
    .footer-start {
        width: 264px;
    }
    .form-subscribe { 
        flex-direction: row;
        gap:24px;
    }
    .email-input {
        width: 264px;
    }
}


@media only screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer .container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 40px;
    }

    .footer-start {
        margin-right: 40px;
    }

    .email-input {
        min-width: 264px;
        opacity: 1;
    }
    .form-subscribe {
        gap:24px;
    }
    
}


/* #endregion */

/* #region modal */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--diary));
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 288px;
    max-height: 623px;
    padding: 72px 16px 24px;
    transition: var(--anim-fast);
    transition-property: transform;
}

/*  min-height: 584px; */
.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*     --ocean: #404bbf; */
.modal-btn-close:hover {
    background-color: var(--ocean);
    border: none;
}
.modal-btn-close:focus {
    background-color: var(--ocean);
    border: none;
}

.modal-close-icon {
    fill: var(--navy-blue);
    transition: var(--anim-fast);
    transition-property: fill;
}

.modal-btn-close:hover .modal-close-icon {
    fill: #ffffff;
}
.modal-btn-close:focus .modal-close-icon {
    fill: var(--white);
}

.modal-title {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
}

.modal-form-field {
    margin-bottom: 8px;
}


.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}
.modal-input-wrapper {
    position: relative;
}

.modal-form-input {
    padding: 11px 38px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    color: var(--navy-blue);
    display: block;
    width: 100%;
    height: 40px;
    outline: transparent;
    transition: border-color var(--anim-fast);
    background-color: transparent; 
}
.modal-form-input:focus {
    border-color: #4D5AE5;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    stroke: none;
    transition: fill var(--anim-fast);
}
.modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.modal-form-comment-field {
    margin-bottom: 16px;
}

.modal-form-comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    border: 1px solid var(--navy-blue-modal);
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-comment::placeholder {
    color: var(--navy-blue-modal);
}

.modal-form-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-agreement {
    margin-bottom: 24px;
}

.modal-form-agreement-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}
.modal-form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    margin-right: 8px;
    fill: transparent; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

input[type='checkbox']:checked + .modal-form-agreement-text  > .modal-form-checkbox {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

input[type='checkbox']:focus-visible + .modal-form-agreement-text  .modal-form-checkbox {
    box-shadow: 0 0 0 1px rgb(var(--navy-blue-rgb)/ 45%);
}

.btn-send {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    color: var(--white);
    transition: var(--anim-fast);
    transition-property: background-color;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--ocean);
    border: none;
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }
}

/* #endregion */


